<!DOCTYPE html>
<html>

<head>
    <title>
        SMSSENDER
    </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body style="text-align: center">
    <% if(patients.length>0) { %>
    <h1>PRE NATAL CARE PATIENTS</h1>
    <table>
        <tr>
            <th>Patient Name:</th>
            <th>Due Date:</th>
            <th>Next Visit:</th>
        </tr>
        <% for (var i=0;i<patients.length; i++) { %>
        <tr>
            <td>
                <%= patients[i].username %>
            </td>
            <td>
                <%= patients[i].duedate %>
            </td>
            <td>
                <%= patients[i].nextvisitdate %>
            </td>
        </tr>
        <% } %>
    </table>
    <% } %>
    <% if(deliveries.length>0) {%>
    <h1>POST NATAL CARE PATIENTS</h1>
    <table>
        <tr>
            <th>Patient Name:</th>
            <th>Delivery Date:</th>
            <th>Next Visit:</th>
        </tr>
        <% for (var i=0;i<deliveries.length; i++) { %>
        <tr>
            <td>
                <%= deliveries[i].username %>
            </td>
            <td>
                <%= deliveries[i].duedate %>
            </td>
            <td>
                <%= deliveries[i].nextvisitdate %>
            </td>
        </tr>
        <% } %>
    </table>
    <% } %>
    <form action="/register" method="POST">
        <label for="username">User Name:</label>
        <input name="username" type="text">
        <label for="userid">Email:</label>
        <input name="userid" type="email">
        <label for="pass">Password:</label>
        <input name="pass" type="password">
        <label for="passconf">Confirm Password:</label>
        <input name="passconf" type="password">
        <label for="duedate">Due Date:</label>
        <input name="duedate" type="date">
        <label for="nextvisit">Next Visit:</label>
        <input name="nextvisit" type="date">
        <label for="phone">Phone:</label>
        <input name="phone" type="text" value="+91">
        <button type="submit">Add Patient</button>
    </form>
    <br><br><br><br><br><br>
    <form action="/update" method="POST">
        <label for="logid">Email:</label>
        <input name="logid" type="email">
        <label for="logpass">Password:</label>
        <input name="logpass" type="password">
        <label for="upnextvisit">Next visit:</label>
        <input name="upnextvisit" type="date">
        <label for="delivery">Delivery Complete:</label>
        <input name="delivery" type="radio" value="true">YES
        <input name="delivery" type="radio" value="false">NO<br>
        <label for="deliverydate">Delivery Date:</label>
        <input name="deliverydate" type="date">
        <button type="submit">Update Patient</button>
    </form>
    <h2></h2>
    <h3></h3>
</body>

</html>